.Sid-ber
  .user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons__btn" do
          = icon('far', 'edit', class: "top-items__icons__btn--icon")
          %span<>
        = link_to "#", class: "top-items__icons__btn" do
          = icon('fas', 'cog', class: "top-items__icons__btn--icon")
          %span<>

  .group-list

    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません

    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません

    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません

    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
        
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません
